@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Фотограф Екатеринбург</title>
    @Styles.Render("~/bundles/Content/reactcss")
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/react")
    @RenderSection("scripts", false)
</body>
</html>
